/core/__pycache__
/core/__pycache__
core/__pycache__/crud_base.cpython-312.pyc
/core/__pycache__
/core/__pycache__
/core/__pycache__
/core/__pycache__
/core/__pycache__
/core/__pycache__
/models/__pycache__
/models/__pycache__
/models/__pycache__
/models/__pycache__
/models/__pycache__
/models/__pycache__
/models/__pycache__
/templates
/templates
