* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif !important;

}

html, body {
    min-height: 100vh;
    background-color: hsla(0, 0%, 0%, 1) !important;
    background-image:
        radial-gradient(at 41% 89%, hsla(162, 31%, 41%, 0.84) 0px, transparent 50%),
        radial-gradient(at 26% 30%, hsla(180, 100%, 22%, 0.66) 0px, transparent 50%),
        radial-gradient(at 80% 35%, hsla(174, 100%, 22%, 1) 0px, transparent 50%) !important;
    background-attachment: fixed !important;
    width: 100%;
    overflow-x: hidden; 
}

.backgroud-transparente {
    background: transparent !important;
}

.backgroud-branco {
    background-color: #fff0ff;
}

.background-verde-medio {
    background-color: #03c356 !important;
}

.background-vermelho {
    background-color: #e31818 !important;
}

.verde-primario-texto {
    color: #074040 !important;
}

.cinza-texto{
    color: rgba(255,255,255,0.6);
    font-size: 12px;
}

.texto-maiusculo{
    text-transform: uppercase;
}

.backgroud-glass {
    background: rgba(255, 255, 255, 0.08) !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    box-shadow: 5px 5px 5px rgba(110, 109, 109, 0.174) !important;
}


/* Textos */

.titulo-h3 {
    color: #fff0ff;
    font-size: 25px;
    font-weight: bolder;
}

.titulo-h2 {
    color: #fff0ff;
    font-weight: bold;
    font-size: large;
}

.texto-p {
    color: #fff0ff !important;
    font-weight: normal !important;
    font-size: medium !important;
}

.texto-a {
    text-decoration: none !important;
    color: #fff0ff !important;
    font-size: 17px !important;
    font-weight: 500 !important;

}

.list-style-none {
    list-style: none !important;
}

.height-maior {
    height: 100vh;
}


/* Position */
.position-fixed {
    position: fixed;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute !important;
}


/* Bordas*/

.border-radius-maior {
    border-radius: 60px !important;
}

.border-radius-medio {
    border-radius: 20px;
}

.border-radius-menor {
    border-radius: 15px !important;
}

.borda-none {
    border: none;
}

.borda-dashed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 253px;
    height: 315px;
    border: 2px dashed rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
    background: rgba(255, 255, 255, 0.05);
}

/* Textarea tamanho */
.textarea-tamanho {
    height: 200px !important;
    resize: vertical !important;
}

/* Base.html */
.topbar {
    width: 89%;
    margin: 15px 25px 0 auto;
    padding: 10px 5px 10px 5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 12px;
    z-index: 100;
    justify-content: space-between !important;
}

.topbar-logo {
    display: flex;
    align-items: start !important;
    gap: 8px;
}

.topbar-actions {
    display: flex;
    gap: 8px;
    margin-right: 2%;
}

.topbar-btn {
    padding: 6px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.topbar-btn-icon {
    width: 50px;
    height: 50px;
    padding: 0;
    justify-content: center;
}

.sidebar {
    top: 45px;
    left: 25px;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -10px;
}

.logo-menu {
    width: 100px;
    height: 70px;
}

.sidebar-link {
    width: 63px;
    height: 63px;
    margin-top: 8px;
}

.topbar-search {
    flex: 4;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 12px;
    max-width: 400px;
}


/* Tela animais cadastrados */

.titulo-animal {
    max-width: 20%;
    height: 50px;
    align-items: center;
}

.table> :not(caption)>*>* {
    background-color: transparent !important;
}


/* Login */

.logo-login {
    width: 75%;
    margin-bottom: 20px;
    opacity: 30%;
    margin-top: 117px;
}

.login-card {
    padding: 40px;
    width: 100%;
    max-width: 380px;

}

/* Sensores cadstrados*/

.entrada-container {
    max-width: 900px;
    margin: 0 auto;
}

.sensor-cont-img {
    width: 170px;
    height: 120px;
    max-width: 100%;
    overflow: hidden;
}

.img-sensor {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-box {
    flex-direction: column;
    cursor: pointer;
    transition: 0.3s;
    align-self: flex-start;
    z-index: 1000;
}

.card-sensor {
    max-width: 24% !important;
}

/* Adicionar Imagem Campo */

.uploaded-image {
    cursor: pointer !important;
    overflow: hidden !important;
    width: 250px !important;
    height: 400px !important;
}

.mudar-imagem-btn{ 
    bottom:8px; 
    right:8px;  
    border-radius:50%; width:32px; 
    height:32px; 
    display:none; 
    align-items:center; 
    justify-content:center; 
    z-index:2;
}

/* Imagem paginas de informações */

.image-box{
    max-width: 250px !important;
    max-height: 400px !important;
    cursor: pointer;
    transition: 0.3s;
    object-fit:cover;
}

/* Landing Page */

#logo-menu-lp{
    max-width: 70px;
    max-height: 70;
    margin-top: 0.3rem;
    object-fit: contain;
    margin-left: -15px;
}

#botao-login-menu {
    background: #FFFFF0;
    opacity: 85%;
    font-size: 1.1rem;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    padding: 8px 16px;
    margin-left: 15px;
    box-shadow: 5px 5px 5px rgba(110, 109, 109, 0.174);
    font-weight: 500;
    text-decoration: none;
    height: 35px;
    align-items: center;
    margin-top: 2rem;
}

#menu-nav {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    height: 85px;

}

#slogan-content{
    z-index: 3;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFF0;
    text-align: center;
    font-size: 4.5rem;
    font-weight: 550px;
}

#slogan {
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: digitar 3s steps(31) forwards;
    z-index: 3;
}

@keyframes digitar {
    to {
        width: 100%;
    }
}


#video-menu {
    border-radius: 15px;
    position: absolute;
    width: 98%;
    height: 97%;
    object-fit: cover;
    top: 2%;
    left: 1%;
    z-index: 0;
    border: none;
}

#cards-produto {
    padding: 80px 50px 40px 50px;
    color: #FFFFF0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 300px auto;
    grid-template-areas:
        "a a b b"
        "c d b b"
        "e e f f";
    gap: 16px;
    height: 100vh;
}

#card-oferecemos {
    grid-area: a;
    transition: 0.5s;
    color: #FFFFF0;
    transition: 0.2s ease-in-out;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

}

#card-oferecemos:hover>#texto-oferecemos {
    opacity: 1;
}

#card-oferecemos:hover>#titulo-oferecemos {
    height: 65%;
    opacity: 0.2;
    filter: blur(9px);
    animation: anim 3s infinite;
}

#card-oferecemos:hover>#icone-oferecemos {
    opacity: 0.2;
    animation: anim 3s infinite;
    filter: blur(9px) brightness(0) invert(1);
}

#card-oferecemos:hover {
    background-color: #93d94327;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transform: scale(1.03);
}

.icone-cards-lp {
    display: block;
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
    filter: brightness(0) invert(1);
    width: 50px;
}

.titulo-cards-lp{
    margin-top: 0.5rem;
    margin-left: 1.5rem;
}

#texto-oferecemos {
    opacity: 0;
    gap: 15px;
    transition: 1s ease-in-out;
    z-index: 2;
    top: 10%;
    left: 20px;
    right: 20px;
}

#card-tecnologia-utilizada {
    grid-area: d;
    transition: 0.2s ease-in-out;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#icone-tecnologia {
    margin-top: 1rem;
    margin-left: 1rem;
}

#card-tecnologia-utilizada:hover>#icone-tecnologia {
    opacity: 0.2;
    animation: anim 3s infinite;
    filter: blur(9px) brightness(0) invert(1);
}

#titulo-tecnologia {
    position: absolute;
    transition: 0.4s ease-in-out;
    z-index: 1;
    margin-top: 0.5rem;
    margin-left: 1.5rem;
}

#card-tecnologia-utilizada:hover>#titulo-tecnologia {
    opacity: 0.2;
    height: 65%;
    filter: blur(9px);
    animation: anim 3s infinite;
}


#texto-tecnologia {
    padding-top: 40px;
    opacity: 0;
    gap: 15px;
    transition: 1s ease-in-out;
    z-index: 2;
    position: absolute;
    top: -5%;
    left: 20px;
    right: 20px;
}

#card-tecnologia-utilizada:hover>#texto-tecnologia {
    opacity: 1;
}

#card-inovacao {
    grid-area: f;
    flex-direction: column;
    transition: 0.2s ease-in-out;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    min-height: 200px;
}

#texto-inovacao {
    opacity: 0;
    flex-direction: column;
    gap: 15px;
    transition: 1s ease-in-out;
    z-index: 2;
    position: absolute;
    top: 0;
    margin-top: 1rem;
    margin-left: 1rem;
}

#card-inovacao:hover>#texto-inovacao {
    opacity: 1;
}

#titulo-inovacao {
    width: 100%;
    position: absolute;
    transition: 0.4s ease-in-out;
    z-index: 1;
    margin-top: 0.5rem;
    margin-left: 1.5rem;
}

#card-inovacao:hover>#titulo-inovacao {
    opacity: 0.2;
    height: 65%;
    filter: blur(9px);
    animation: anim 3s infinite;
}

#card-inovacao:hover>#icone-inovacao {
    opacity: 0.2;
    animation: anim 3s infinite;
    filter: blur(9px) brightness(0) invert(1);
}

#card-inovacao:hover {
    background-color: #93d94327;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transform: scale(1.03);
}

#icone-inovacao {
    margin-top: 1rem;
    margin-left: 1rem;
}

#card-solucao {
    overflow: hidden;
    grid-area: b;
    transition: 0.2 ease-in-out;
    width: 100%;
    height: 100%;
}

#card-solucao:hover>#titulo-solucao {
    opacity: 0.5;
    height: 65%;
    filter: blur(9px);
    animation: anim 3s infinite;
}

#titulo-solucao {
    width: 100%;
    position: absolute;
    transition: 1s ease-in-out;
    z-index: 1;
    margin-top: 0.5rem;
    margin-left: 1.5rem;
}

#texto-solucao {
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: 1s ease-in-out;
    z-index: 2;
    position: absolute;
    top: 10%;
    left: 20px;
    right: 20px;
}

#card-solucao:hover>#texto-solucao {
    opacity: 1;
}

#card-solucao:hover>#icone-solucao {
    opacity: 0.3;
    animation: anim 3s infinite;
    filter: blur(9px) brightness(0) invert(1);
}

#card-solucao:hover>#img-solucao {
    opacity: 0.2;
    animation: anim 10s infinite;
    filter: blur(9px);
}

#card-solucao:hover {
    background-color: #93d94327;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transform: scale(1.02);
}

#icone-solucao {
    margin-top: 1rem;
    margin-left: 1rem;
}

#img-solucao {
    width: 53%;
    position: absolute;
    bottom: -30px;
    left: 40%;
}

#card-planos-futuros {
    grid-area: e;
    transition: 0.2s ease-in-out;
    width: 100%;
    height: 100%;
}

#card-planos-futuros:hover>#icone-planos-futuros {
    opacity: 0.2;
    animation: anim 3s infinite;
    filter: blur(9px) brightness(0) invert(1);
}

#icone-planos-futuros {
    margin-top: 1rem;
    margin-left: 1rem;
}

#titulo-planos-futuros {
    width: 100%;
    position: absolute;
    transition: 0.4s ease-in-out;
    z-index: 1;
    margin-top: 0.5rem;
    margin-left: 1.5rem;
}

#card-planos-futuros:hover>#titulo-planos-futuros {
    opacity: 0.2;
    height: 65%;
    filter: blur(9px);
    animation: anim 3s infinite;
}

#texto-planos-futuros {
    opacity: 0;
    gap: 15px;
    transition: 1s ease-in-out;
    z-index: 2;
    position: absolute;
    top: 6%;
    left: 20px;
    right: 20px;
}

#card-planos-futuros:hover>#texto-planos-futuros {
    opacity: 1;
}

#card-dados-mercado {
    grid-area: c;
    flex-direction: column;
    transition: 0.2 ease-in-out;
    width: 100%;
    height: 100%;
}

#card-dados-mercado:hover>#icone-mercado {
    opacity: 0.2;
    animation: anim 3s infinite;
    filter: blur(9px) brightness(0) invert(1);
}

#icone-mercado {
    margin-top: 1rem;
    margin-left: 1rem;
}

#titulo-mercado {
    position: absolute;
    transition: 0.4s ease-in-out;
    z-index: 1;
    margin-top: 0.5rem;
    margin-left: 1.5rem;
}

#card-dados-mercado:hover>#titulo-mercado {
    opacity: 0.2;
    height: 65%;
    filter: blur(9px);
    animation: anim 3s infinite;
}

#texto-dados {
    opacity: 0;
    gap: 15px;
    transition: 1s ease-in-out;
    z-index: 2;
    position: absolute;
    top: 5%;
    left: 20px;
    right: 20px;
}

#card-dados-mercado:hover>#texto-dados {
    opacity: 1;
}

#canvas-ondas-back {
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;
}

.sobre-nos-container {
    flex-wrap: wrap;
    margin: 50px; /* Reduzido de 100px para ocupar menos espaço na tela */
    position: relative;
    overflow: hidden;
    z-index: 1;
    min-height: auto; /* Mudado de 450px para auto, assim ele não fica com espaço sobrando */
}

#img-sobre img {
    max-width: 465px;
    height: 350px;
    object-fit: cover;
    margin: 15px;
}

#texto-sobre {
    flex: 1;
    max-width: 100%;
    margin: 30px;
    font-size: 20px;
    color: #FFFFF0;
    box-sizing: border-box;
}

#titulo-sobre {
    color: #FFFFF0;
    font-size: 2.5rem;
    padding-bottom: 10px;
}

#canvas-ondas-front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

#img-contato {
    width: 45%;
    display: flex;
    justify-content: center;
}

.dados-contato {
    height: 40px;
    backdrop-filter: blur(10px);
    padding-left: 15px;
}

.dados-contato::placeholder {
    color: #FFFFF0;
}

#img-contato {
    max-width: 45%;
    display: flex;
    justify-content: center;
}

#img-contato img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

#mensagem-contato {
    width: 100%;
    height: 100px;
    padding-left: 15px;
    resize: vertical;
}

#mensagem-contato::placeholder {
    color: #FFFFF0;
}

#rodape-container {
    display: flex;
    padding-left: 10px;
    gap: 80px;
}

#rodape-container a{
    text-decoration: none;
    color: #fff;
    list-style: none !important;
}

.rodape-titulo {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFF0;
}

#informacao-rodape a {
    font-size: 18px;
}

.social_icon {
    width: 35px;
    height: 35px;
    margin: 10px;
}

#vetallis-rodape {
    font-size: 17rem;
    font-weight: 700;
    letter-spacing: 20px;
    color: rgba(255, 255, 255, 0.3);
    text-align: center;
    margin-top: 0.3%;
}