{% extends 'base.html'%}
{% block conteudo%}

<div class="d-flex justify-content-start mt-0">
    <a href="{{url_for('lista_compra')}}" class="bi bi-arrow-bar-left texto-a">Voltar</a>
</div>
<h3 class="mb-4 mt-3 text-start titulo-h3">Adicionar item à
    lista de compras</h3>


<form method="POST" action="{{ url_for('salvar_lista_compra') }}">
    <div class="mt-4 h-100">

        <div class="d-flex gap-3 mb-4">
            <input type="text" name="nome_produto" placeholder="Nome do item:" class=" form-control borda-none"
                required>
            <input type="text" name="custo_compra" placeholder="preço unitário:" class=" form-control borda-none"
                required>
            <input type="text" name="quantidade" placeholder="Quantidade:" class=" form-control borda-none" required>

        </div>



        <!-- Botões lado a lado -->
        <div class="d-flex gap-3">
            <button class="btn w-100 text-white background-vermelho border-radius-menor"
                type="button">Cancelar</button>
            <button class="btn w-100 text-white background-verde-medio border-radius-menor"
                type="submit">Salvar</button>
        </div>

    </div>
</form>


{% endblock %}