{%extends 'base.html'%}
{%block conteudo%}

<div class="d-flex justify-content-between ">
    <h3 class="text-start titulo-h3">Animais</h3>
    <a class="btn titulo-animal w-100 texto-a d-flex justify-content-center background-verde-medio background-verde-medio border-radius-menor"
        type="submit" href="{{url_for('novo_animal')}}">Adicionar
        Animal</a>
</div>
<div class="table-responsive mt-5">
    <table class="table">
        <tr>
            <th class="texto-p text-start">N° Identificação</th>
            <th class="texto-p text-start">Espécie</th>
            <th class="texto-p ">Sexo</th>
            <th class="texto-p">Raça</th>
            <th class="texto-p">Identificação</th>
            <th class="texto-p">Idade</th>
            <th class="texto-p">Ações</th>

        </tr>
        {% for animal in animais %}
        <tr>
            <td class="texto-p text-start">{{ animal.animal_id or animal['animal_id'] }}</td>
            <td class="texto-p text-start">{{ animal.animal_especie or animal['animal_especie'] }}</td>
            <td class="texto-p">{{ animal.animal_sexo or animal['animal_sexo'] }}</td>
            <td class="texto-p">{{ animal.animal_raca or animal['animal_raca'] }}</td>
            <td class="texto-p">{{ animal.animal_identificacao or animal['animal_identificacao'] }}</td>
            <td class="texto-p">{{ animal.animal_idade or animal['animal_idade'] }}</td>
            <td class="texto-p"><a class="btn btn-sm btn-link text-danger fs-5 p-0"
                    href="{{url_for('excluir_animal', animal_id=animal.animal_id)}}">
                    <i class="bi bi-trash"></i>
                </a>
            </td>

            {% endfor %}
    </table>
</div>


{%endblock%}