{%extends 'base.html'%}
{%block conteudo%}

<div class="d-flex justify-content-between mt-5"
    style="color: white; padding:5px; border-bottom:solid 1px #fff; width: 100%;">
    <h3 class="mb-4 text-start">
        Animais</h3>
    <a class="btn btn-login w-100 text-white d-flex justify-content-center"
        style="background: #03c356; border-radius: 15px; max-width: 20%; height: 50px; align-items: center;" type="submit" href="{{url_for('novo_animal')}}">Adicionar
        Animal</a>
</div>
<div class="table-responsive mt-5">
    <table class="table">
        <tr>
            <th class="text-white text-start">N° Identificação</th>
            <th class="text-white text-start">Espécie</th>
            <th class="text-white fw-bold">Sexo</th>
            <th class="text-white">Raça</th>
            <th class="text-white">Identificação</th>
            <th class="text-white">Idade</th>
            <th class="text-white">status</th>

        </tr>
        {% for animal in animais %}
        <tr>
            <td class="text-start"  style="color: white;">{{ animal.animal_id or animal['animal_id'] }}</td>
            <td class="text-start"  style="color: white;">{{ animal.animal_especie or animal['animal_especie'] }}</td>
            <td  style="color: white;">{{ animal.animal_sexo or animal['animal_sexo'] }}</td>
            <td  style="color: white;">{{ animal.animal_raca or animal['animal_raca'] }}</td>
            <td  style="color: white;">{{ animal.animal_identificacao or animal['animal_identificacao'] }}</td>
            <td  style="color: white;">{{ animal.animal_idade or animal['animal_idade'] }}</td>
           

        </tr>
        {% endfor %}
    </table>
</div>

{%endblock%}