{%extends 'base.html'%}
{%block conteudo%}

<div class="d-flex">
    <h3 class="text-start titulo-h3" id="titulo-animal-cadastrado">Animais</h3>
    <div class="div-com-csv d-flex justify-content-end ">
        <form action="" >
            <label for="input-csv"
                class="p-1 w-100 titulo-csv texto-a d-flex justify-content-center background-verde-medio background-verde-medio border-radius-menor">Adicione
                por Arquivo CSV</label>
            <input type="file" class="titulo-csv" id="input-csv" accept=".CSV"></input>
            <Button type="submit" class="p-1 titulo-csv2 mt-2 texto-a d-flex justify-content-center border-radius-menor">Processar arquivo</Button>
        </form>
        <a class="btn titulo-animal ms-4 w-100 texto-a d-flex justify-content-center background-verde-medio background-verde-medio border-radius-menor"
            type="submit" href="{{url_for('novo_animal')}}">Adicionar
            Animal</a>
    </div>
</div>



<div class="table-responsive mt-5">
    <table class="table">
        <tr>
            <th class="texto-p fw-bold">Identificação</th>
            <th class="texto-p fw-bold">Espécie</th>
            <th class="texto-p fw-bold ">Sexo</th>
            <th class="texto-p fw-bold">Raça</th>
            <th class="texto-p  fw-bold">Idade</th>
            <th class="texto-p fw-bold">Ações</th>

        </tr>
        {% for animal in animais %}
        <tr>
            <td class="texto-p px-0">{{ animal.animal_identificacao or animal['animal_identificacao'] }}</td>
            <td class="texto-p ">{{ animal.animal_especie or animal['animal_especie'] }}</td>
            <td class="texto-p">{{ animal.animal_sexo or animal['animal_sexo'] }}</td>
            <td class="texto-p">{{ animal.animal_raca or animal['animal_raca'] }}</td>
            <td class="texto-p">{{ animal.animal_idade or animal['animal_idade'] }}</td>
            <td class="texto-p"><a title="Botão de excluir animal" class="btn btn-sm btn-link text-danger fs-5 p-0"
                    href="{{url_for('excluir_animal', animal_id=animal.animal_id)}}">
                    <i class="bi bi-trash"></i>
                </a>
                <a role="img" aria-label="Botão ver detalhes do pedido de entrada"
                    href="{{url_for('informacao_animal', animal_id=animal.animal_id)}}"
                    class="bi bi-arrow-bar-right text-white texto-a "></a>
            </td>

            {% endfor %}
    </table>
</div>


{%endblock%}