<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vetallis</title>
    <link rel="stylesheet" href="/static/style.css">
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Ícones -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!-- Fonte moderna -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <!-- Nav para trocar formulários-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <!-- topbar -->
    <header>
        <section class="topbar">
            <div class="topbar-logo">
                <img src="/static/imagens/vetalis_branca_sem_fundo.png" alt="Vetalis Logo">
                <span class="topbar-brand" id="nome">Hello, </span>
            </div>

            <div class="topbar-search">
                <i class="bi bi-search"></i>
                <input type="text" placeholder="Pesquisar...">
            </div>

            <div class="topbar-actions" style="text-decoration: none;">
                <a class="topbar-btn" href="{{ url_for('novo_produto') }}">
                    <i class="bi bi-plus-circle"></i> ADD Produtos
                </a>
                <button class="topbar-btn topbar-btn-icon">
                    <a id="link-perfil" title="Configurações" class="text-white">
                        <i class="bi bi-gear"></i>
                    </a>
                </button>
                <button class="topbar-btn topbar-btn-icon">
                    <a href="{{url_for('logout')}}" class="text-white" title="Sair">
                        <i class="bi bi-box-arrow-right"></i>
                    </a>
                </button>
            </div>
        </section>
    </header>

    <!-- Sidebar -->
    <aside class="sidebar">
        <nav class="sidebar-nav gap-3" style="margin-top: -15px;">
            <a href="{{ url_for('inicial') }}" class="sidebar-link active" title="Início">
                <i class="bi bi-house"></i>
            </a>
            <a class="sidebar-link" title="Produtos" href="{{url_for('produtos')}}">
                <i class="bi bi-capsule"></i>
            </a>
            <a href="{{url_for('animal')}}" class="sidebar-link" title="Animal">
                <i class="bi bi-feather"></i>
            </a>
            <a href="{{url_for('sensor')}}" class="sidebar-link" title="Sensor">
                <i class="bi bi-radar"></i>
            </a>
            <a href="{{url_for('fornecedor_novo')}}" class="sidebar-link" title="Fornecedor">
                <i class="bi bi-shop-window"></i>
            </a>
            <a href="{{url_for('lista_compra')}}" class="sidebar-link" title="Lista de compra">
                <i class="bi bi-cart3"></i>
            </a>
            <a href="{{url_for('relatorio')}}" class="sidebar-link" title="Relatórios">
                <i class="bi bi-graph-up"></i>
            </a>
        </nav>
    </aside>
    <main class="d-flex justify-content-center align-items-center" style=" padding: 100px 5px 40px 120px;">
        <div class="login-card text-center me-4" style="max-width: 1400px; width: 100%; min-height: 575px !important;">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for categoria, mensagem in messages %}
            <div class="alert alert-primary alert-{{categoria}} alert-dismissible fade show border border-{{categoria}}-subtle border-2"
                role="alert">
                <i class="bi bi-info-circle-fill"></i>
                <strong>{{ mensagem }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% block conteudo %} {% endblock %}
            <input type="hidden" id="usuario_id" name="usuario_usuario_id" value="">
        </div>
    </main>
    <script>
        const usuario = JSON.parse(localStorage.getItem("usuario"));
        document.getElementById("nome").innerText = `Bem vindo, ${usuario.nome}`
        document.getElementById("link-perfil").href = `/gerenciar_perfil/${usuario.id}`;
        document.getElementById("input-id").value = usuario.id;
        document.getElementById("usuario_id").value = usuario.id;

    </script>
</body>