{% extends 'base.html'%}
{% block conteudo%}

<h3 class="mb-4 text-start titulo-h3">Cadastro de Produto</h3>

<form method="POST" action="{{url_for('salvar_produto')}}" enctype="multipart/form-data" class="form-sensor gap-4">
    <div class="mt-4 ">
        <div class="d-flex justify-content-start ">
            <div class="borda-dashed border-radius-menor position-relative d-flex w-25 me-4">
                <label for="imagem_produto"
                    class="ms-0 uploaded-image border-radius-menor align-items-center justify-content-center d-flex position-relative">
                    <img id="preview_imagem" src="" alt="" class="upload-imagem position-absolute t-0 l-0">
                    <span id="texto_upload" class="text-white aling-itens-center" style="z-index:1;">Clique para
                        adicionar imagem</span>
                    <div id="icone_trocar" class="position-absolute mudar-imagem-btn backgroud-glass">
                        <i class="bi bi-pencil text-white"></i>
                    </div>
                </label>

                <input type="file" id="imagem_produto" name="imagem" accept="image/*" class="d-none">
                <input type="hidden" id="usuario_id" name="usuario_usuario_id" value="">
            </div>

            <div class="divisao-form w-100">
                <div class="mb-3 text-start">
                    <div class="input-group">
                        <input type="name" name="nome" class="form-control" placeholder="Nome:" required>
                    </div>
                </div>
                <div class="mb-3 text-start">
                    <div>
                        <textarea name="descricao" placeholder="Descrição"
                            class="form-control textarea-tamanho"></textarea>
                    </div>
                </div>
                <div class="d-flex gap-3">
                    <div class="text-start w-100">
                        <select class="form-select" name="categoria">
                            <option value=""> Selecione uma categoria</option>
                            <option value="Vacina">
                                Vacina
                            </option>
                            <option value="Antiparasitários">
                                Antiparasitários
                            </option>
                            <option value="Antibioticos">
                                Antibioticos
                            </option>
                            <option value="Anti-inflamatórios">
                                Anti-inflamatórios
                            </option>
                            <option value="Analgésicos">
                                Analgésicos
                            </option>
                            <option value="Anestésicos">
                                Anestésicos
                            </option>

                        </select>
                    </div>
                    <div class="justify-content-center w-100">
                        <button class="btn w-100 text-white background-verde-medio border-radius-menor"
                            type="submit">Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
    </div>
</form>
<script>
    localStorage.setItem("usuario", JSON.stringify({
        id: "{{ session.get('usuario_id')}}",
        nome: "{{ session.get('usuario_nome')}}"
    }))

    document.getElementById("imagem_produto").addEventListener("change", function () {
        const arquivo = this.files[0];

        if (arquivo) {
            const reader = new FileReader();

            reader.onload = function (e) {
                const preview = document.getElementById("preview_imagem");
                const texto = document.getElementById("texto_upload");
                const icone = document.getElementById("icone_trocar");

                preview.src = e.target.result;
                preview.style.display = "block";
                texto.style.display = "none";
                icone.style.display = "flex";
            };

            reader.readAsDataURL(arquivo);
        }
    });
</script>
{% endblock%}