{%extends 'base.html'%}
{%block conteudo%}
<div class="text-start">
    <a href="{{url_for('animal')}}" class="bi bi-arrow-bar-left texto-a">Voltar</a>
</div>
<h3 class="mb-4 text-start titulo-h3 mt-4">Cadastro de
    Animais</h3>

<form method="POST" action="{{ url_for('salvar_animal') }}" class="form-sensor">
    <div class="cadastro-sensor d-flex mt-4">
        <div class="divisao-form me-4 w-100" >
            <div class="mb-3 text-start">
                <div class="input-group">
                    <input type="name" name="especie" class="form-control" placeholder="Espécie:" required>
                </div>
            </div>

            <div class="mb-3 text-start">
                <div class="input-group">
                    <input type="text" name="sexo" class="form-control" placeholder="Sexo: " required>
                </div>
            </div>

            <div class="mb-3 text-start">
                <div class="input-group">
                    <input type="text" name="faixa_etaria" class="form-control" placeholder="Idade:" required>
                </div>
            </div>
        </div>
        <div class="w-100">
            <div class="mb-3 text-start">
                <div class="input-group">
                    <input type="text" name="raca" class="form-control" placeholder="Raça:" required>
                </div>
            </div>

            <div class="mb-3 text-start">
                <div class="input-group">
                    <input type="text" name="identificacao_animal" class="form-control"
                        placeholder="Identificação de animal:" required>
                </div>
            </div>
            <div class="text-center">
                <button aria-label="Cadastrar animal" class="btn w-100 texto-a background-verde-medio border-radius-menor" type="submit">Cadastrar</button>
            </div>

        </div>
    </div>

</form>
</div>
{%endblock%}