{%extends 'base.html'%}
{%block conteudo%}
<div class="text-start">
    <a href="{{url_for('funcionarios')}}" class="bi bi-arrow-bar-left texto-a">Voltar</a>
</div>
<h3 class="mb-4 text-start titulo-h3">Cadastro de funcionarios
</h3>


{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for categoria, mensagem in messages %}
<div class="alert alert-{{ categoria }} text-center w-75 mx-auto" role="alert">
    {{ mensagem }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<form method="POST" class="d-flex" action="/usuario/salvar" enctype="multipart/form-data">
    <div class="borda-dashed border-radius-menor position-relative d-flex w-25 me-4 ">
        <label for="imagem_produto"
            class="ms-0 uploaded-image border-radius-menor align-items-center justify-content-center d-flex position-relative">
            <img id="preview_imagem" src="" alt="" class="upload-imagem position-absolute t-0 l-0">
            <span id="texto_upload" class="text-white aling-itens-center" style="z-index:1;">Clique para
                adicionar imagem</span>
            <div id="icone_trocar" class="position-absolute mudar-imagem-btn backgroud-glass">
                <i class="bi bi-pencil text-white"></i>
            </div>
        </label>

        <input type="file" id="imagem_produto" name="imagem" accept="image/*" class="d-none">
        <input type="hidden" id="usuario_id" name="usuario_usuario_id" value="" >
    </div>

    <div class="w-100 mt-4">
        <div class="d-flex gap-3 mb-3">
            <div class="mb-2 text-start w-100 ">
                <div class="input-group ">
                    <input type="text" name="nome" class="dados_formulario form-control" placeholder="Digite seu nome"
                        required>
                </div>
            </div>
            <div class="mb-2 text-start w-100">
                <div class="input-group">
                    <input type="email" name="email" class="dados_formulario form-control"
                        placeholder="Digite seu email" required>
                </div>
            </div>
            <div class="mb-2 text-start w-100">
                <div class="input-group">
                    <input type="text" name="cpf" class="dados_formulario form-control" placeholder="Digite seu CPF"
                        required>
                </div>
            </div>
        </div>
        <div class="d-flex gap-3 w-100 mb-3">
            <div class="mb-2 text-start w-100">
                <div class="input-group">
                    <input type="password" name="senha" class="dados_formulario form-control"
                        placeholder="Crie uma senha" required>
                </div>
            </div>
            <div class="mb-2 text-start w-100">
                <div class="input-group">
                    <input type="password" name="confirmar_senha" class="dados_formulario form-control"
                        placeholder="Confirme sua senha" required>
                </div>
            </div>
        </div>
        <div class="mb-3 text-start">
            <div class="input-group">
                <input type="text" name="cargo" class="dados_formulario form-control" placeholder="Insira seu cargo."
                    required>
            </div>
        </div>

        <button class="btn w-100 text-white background-verde-medio border-radius-menor"
            type="submit" id="botao-cadastro">Cadastrar</button>
    </div>
</form>
<script>
    document.getElementById("imagem_produto").addEventListener("change", function () {
        const arquivo = this.files[0];

        if (arquivo) {
            const reader = new FileReader();

            reader.onload = function (e) {
                const preview = document.getElementById("preview_imagem");
                const texto = document.getElementById("texto_upload");
                const icone = document.getElementById("icone_trocar");

                preview.src = e.target.result;
                preview.style.display = "block";
                texto.style.display = "none";
                icone.style.display = "flex";
            };

            reader.readAsDataURL(arquivo);
        }
    });
</script>
{%endblock%}