{% extends 'base.html'%}
{% block conteudo%}

<div class="d-flex justify-content-start">
    <a href="{{url_for('sensor')}}" class="bi bi-arrow-bar-left text-white" style="text-decoration: none; height: 40px;">Voltar</a>
</div>

<h3 class="text-start mt-4" style="color: white; padding:5px; border-bottom: solid 1px #fff;">
    Cadastro de Sensor
</h3>




<form method="POST" action="{{ url_for('salvar_sensor') }}" class="mt-4">

   
    <div class="d-flex mb-3" style="gap: 16px;">
        <div style="flex: 1;">
            <input type="text" name="sensor_nome" class="form-control" placeholder="Nome:" required
                style="border-radius: 8px;">
        </div>
        <div style="flex: 1;">
            <input type="text" name="sensor_tipo_conexao" class="form-control" placeholder="Tipo de conexão:" required
                style="border-radius: 8px;">
        </div>
    </div>

  
    <div class="d-flex mb-3" style="gap: 16px;">
        <div style="flex: 1;">
            <textarea name="sensor_descricao" class="form-control" placeholder="Descrição:"
                style="height: 97px; resize: vertical; border-radius: 8px;"></textarea>
        </div>
        <div style="flex: 1;">
            <div class="d-flex mb-3" style="gap: 16px;">
                <div style="flex: 1;">
                    <input type="text" name="sensor_n_serie" class="form-control" placeholder="N série:" required
                        style="border-radius: 8px;">
                </div>
                <div style="flex: 1;">
                    <input type="number" name="sensor_voltagem" class="form-control" placeholder="Voltagem:" required
                        style="border-radius: 8px;">
                </div>
            </div>
            <div>
                <input type="text" name="sensor_modelo" class="form-control" placeholder="Modelo:" required
                    style="border-radius: 8px;">
            </div>
        </div>
    </div>


    <div class="d-flex" style="gap: 16px;">
        <div style="flex: 1;">
            <input type="text" name="sensor_localizacao" class="form-control" placeholder="Localização:" required
                style="border-radius: 8px;">
        </div>
        <div style="flex: 1;">
            <button type="submit" class="btn w-100 text-white"
                style="background: #03c356; border-radius: 25px;">Cadastrar</button>
        </div>
    </div>

</form>

{% endblock %}



