{%extends 'base.html'%}
{%block conteudo%}

<div class="d-flex justify-content-between ">
    <h3 class="text-start titulo-h3">Fornecedores</h3>
    <a role="button" aria-label="Adicionar fornecedor" class="btn titulo-animal w-100 texto-a d-flex justify-content-center background-verde-medio background-verde-medio border-radius-menor"
        type="submit" href="{{url_for('fornecedor_criar')}}">Adicionar
        Fornecedor</a>
</div>
<div class="table-responsive mt-5">
    <table class="table">
        <tr>
            <th class="texto-p text-start">Nome</th>
            <th class="texto-p">Tipo de produto</th>
            <th class="texto-p">Pedido mínimo</th>
            <th class="texto-p">Editar</th>
            <th class="texto-p"></th>


        </tr>
        {% for fornecedor in fornecedores %}
        <tr>
            <td class="texto-p text-start">{{ fornecedor.fornecedor_nome or fornecedor['fornecedor_nome'] }}</td>
            <td class="texto-p">{{ fornecedor.fornecedor_tipo_produtos or fornecedor['fornecedor_tipo_produtos'] }}</td>
            <td class="texto-p">{{ fornecedor.fornecedor_pedido_minimo or fornecedor['fornecedor_pedido_minimo'] }}</td>
            <td class="texto-p"   >
                <a role="img" aria-label="Botão editar fornecedor " href="{{ url_for('editar_fornecedor', fornecedor_id=fornecedor.fornecedor_id) }}"
                    class="bi bi-pencil text-white texto-a"> </a>
            </td>
            <td>
                <a role="button" aria-label="Excluir produto" class="btn btn-sm btn-link text-danger fs-5 p-0"
                    href="{{ url_for('excluir_fornecedor', fornecedor_id=fornecedor.fornecedor_id) }}">
                    <i role="img" aria-label="Botão de excluir produto" class="bi bi-trash"></i>
                </a>
            </td>
        </tr>
        {% endfor %}

    </table>
</div>

{%endblock%}