{% extends 'base.html'%}
{% block conteudo%}

<h3 class="mb-4 text-start" style="color: white; padding:5px; border-bottom:solid 1px #fff; width: 1200px;">
    Gerenciamento
    de Perfil</h3>
<h4 class="mb-4 text-start" style="color: white; padding:5px;">Informações Pessoais</h4>
<div class="d-flex">
    <div class="upload-imagem me-5 ">
        <label for="imagem_produto" class="upload-box" style="max-height: 200px !important; width: 275px;"
            style=" margin-left: 0 !important; align-self: flex-start;">
            <span class="input-group-text bg-transparent border-0">
                <i class="bi bi-person-fill text-white " style="font-size: 9rem;"></i>
            </span>
        </label>
        <input type="file" id="imagem_produto" name="imagem_produto" accept="image/*" class="d-none">
    </div>
    <div class="d-flex">
        <form>
            <div class="mb-3 d-flex">
                <label class="form-label" style="color: #fff">Nome:</label>
                <input type="text" class="form-control bg-transparent border-0" readonly>
                
            </div>
            <div class="mb-3 d-flex">
                <label class="form-label" style="color:#fff">Email:</label>
                <input type="text" class="form-control bg-transparent border-0" readonly>
            </div>
            <div class="mb-3 d-flex">
                <label class="form-label" style="color:#fff">Cargo:</label>
                <input type="text" class="form-control bg-transparent border-0" readonly>
            </div>
        </form>
    </div>
</div>
<p style="border-bottom:solid 1px #fff; width: 1200px; padding: 5px;"></p>
<h4 class="mb-4 mt-2 text-start" style="color: white; padding:5px;">Editar
</h4>
<div>
    <form method="POST" action="{{ url_for('gerenciar_perfil_salvar') }}" class="form-sensor">
        <div class=" mt-4">
            <div class="divisao-form me-4 " style="max-width: 1200px; width: 100%;">
                <div class="mb-5 text-start">
                    <div class="input-group">
                        <input type="name" name="usuario_nome" class="form-control" placeholder="Nome:" required>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="mb-5 me-2 text-start" style="max-width: 700px; width: 100%;">
                        <div class="input-group">
                            <input type="text" name="usuario_email" class="form-control" placeholder="Email:" required>
                        </div>
                    </div>
                    <div class="text-start" style="max-width: 700px; width: 100%;">
                        <div class="mb-5 text-start">
                            <div class="input-group">
                                <input type="text" name="usuario_cargo" class="form-control" placeholder="Cargo:" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center d-flex" style="max-width: 1400px; width: 100%;">
                    <button class="btn btn-danger w-100 text-white me-3" type="submit">Excluir conta</button>
                    <button class="btn  w-100 text-white" style="background-color:#03A64A;" type="submit">Salvar
                        alterações</button>
                </div>
            </div>
        </div>

</div>

{% endblock%}