{% extends 'base.html' %}
{% block conteudo %}

<div class="container d-flex justify-content-center entrada-container row "
    style=" border: none; margin-right: none  !important;padding-left:0 ; width: 100%;">
    <div class="d-flex justify-content-start">
        <a href="" class="bi bi-arrow-bar-left text-white" style="text-decoration: none;">Voltar</a>
    </div>
    <div class=" card-entrada text-center align-items-center  mt-4 " style="width: 100%;">
        <h3 class="text-start text-white  " style="border-bottom:solid 1px #fff; padding: 5px; padding-top: 0; ">
            Entrada de
            produtos</h3>
        <div class="card ">
            <form id="formulario">
                <div class="row mt-3">
                    <div class="col-md-7 " >
                        <input type="text" name="nome" class="dados_formulario" placeholder="Nome do produto:" required>
                    </div>
                    <div class="col-md-5 ">
                        <input type="text" name="nome" class="dados_formulario" placeholder="Lote:" required>
                    </div>
                </div>

                <div class="row  my-5">
                    <div class="col-md-5 ">
                        <input type="text" name="nome" class="dados_formulario" placeholder="Validade:" required>
                    </div>
                    <div class="col-md-7">
                        <input type="text" name="nome" class="dados_formulario" placeholder="Valor unitário:" required>
                    </div>
                </div>

                <div class="row  my-5">
                    <div class="col-md-7 ">
                        <input type="text" name="nome" class="dados_formulario" placeholder="Quantidade:" required>
                    </div>
                    <div class="col-md-5 ">
                        <button class="btn-entrada btn-sm ">Adicionar</button>
                    </div>
                </div>
        </div>
        </form>
    </div>
</div>
{% endblock%}