{% extends 'base.html'%}
{%block conteudo%}

<div class="d-flex justify-content-start">
    <a href="" class="bi bi-arrow-bar-left text-white" style="text-decoration: none;height: 40px;">Voltar</a>
</div>
<h3 class="text-start" style="color: white; padding:20px;padding-left: 0; border-bottom:solid 1px #fff; width: 1300px;">
    Saída de Produto</h3>

<div style="padding: 20px; padding-left: 0;">
    <form>
        <div class="mb-3 d-flex">
            <label class="form-label" style="color: #fff">Nome:</label>
            <input type="text" class="form-control bg-transparent border-0" readonly>
        </div>
        <div class="mb-3 d-flex">
            <label class="form-label" style="color:#fff">Lote:</label>
            <input type="text" class="form-control bg-transparent border-0" readonly>
        </div>
    </form>
    <div class="mt-4" style="padding: 20px 10px 20px 0px;">
        <form method="POST" action="" class="form-sensor">
            <div >
                <div class="d-flex" style="width: 100%;">
                    <div class="mb-5 me-2 text-start" style="max-width: 1500px important; width: 100%;">
                        <div class="input-group">
                            <input type="text" name="tipo_produto" class="form-control" placeholder="Tipo de Produto:"
                                style="min-width: 650px;" required>
                        </div>
                    </div>
                    <div class="mb-5 text-start">
                        <div class="input-group">
                            <input type="text" name="pedido_minimo" class="form-control" placeholder="Pedido Mínimo:"
                                style="min-width: 650px;" required>
                        </div>
                    </div>
                </div>
                <div class="d-flex" style="max-width: 1400px !important; width: 100%;">
                    <div class="mb-5 me-2 text-start">
                        <div class="input-group">
                            <input type="text" name="animal" class="form-control" placeholder="Animal que vai usar:"
                                style="width: 100%; min-width: 650px;" required>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-login w-100 text-white "
                            style="background: #03c356; border-radius: 15px; min-width: 650px;"
                            type="submit">Sair</button>
                    </div>
                </div>
            </div>

        </form>

    </div>

    {%endblock%}