{% extends 'base.html'%}
{% block conteudo%}

<h3 class="mb-4 text-start" style="color: white; padding:10px; border-bottom:solid 1px #fff;">Relatório</h3>
<div class="d-flex width:10px">

    <div class="me-2"style="width: 450px;">
        <div class="mb-4" style=" border-radius: 15px;background: rgba(255, 255, 255, 0.15); 
    padding: 5px;max-width:400px !important; width: 100% !important;height: 250px;">
            <label style=" margin-left: 0 !important; align-self: flex-start; z-index: 1000;">
            </label>
        </div>

        <div  style=" border-radius: 15px;background: rgba(255, 255, 255, 0.15); 
    padding: 5px;max-width:400px !important; width: 100% !important;height: 250px;">
            <label 
                style=" margin-left: 0 !important; align-self: flex-start; z-index: 1000;">
            </label>
        </div>
    </div>

    <div class="me-5 " style=" border-radius: 15px;background: rgba(255, 255, 255, 0.15); 
    padding: 5px;max-width:400px !important; width: 100% !important;height: 520px;">
        <label style=" margin-left: 0 !important; align-self: flex-start; z-index: 1000;">
        </label>
    </div>


    <div class="col-4 d-flex flex-column gap-3">
        <div class="me-5 " style=" border-radius: 15px;background: rgba(255, 255, 255, 0.15); 
    padding: 5px;max-width:400px !important; width: 100% !important;height: 130px;">
        <label style=" margin-left: 0 !important; align-self: flex-start; z-index: 1000;">
        </label>
    </div>

        <div class="me-5 " style=" border-radius: 15px;background: rgba(255, 255, 255, 0.15); 
    padding: 5px;max-width:400px !important; width: 100% !important;height: 130px;">
        <label style=" margin-left: 0 !important; align-self: flex-start; z-index: 1000;">
        </label>
    </div>

        <div class="me-5 " style=" border-radius: 15px;background: rgba(255, 255, 255, 0.15); 
    padding: 5px;max-width:400px !important; width: 100% !important;height: 130px;">
        <label style=" margin-left: 0 !important; align-self: flex-start; z-index: 1000;">
        </label>
    </div>

    </div>
</div>



















{% endblock%}