{% extends 'base.html'%}
{% block conteudo %}

<div class="container d-flex entrada-container row "
    style=" border: none; margin-right: none  !important;padding-left:0 ; width: 100%; ">
    <div class=" card-entrada text-center align-items-center  mt-4 " style="width: 100%;">
        <h3 class="text-start text-white  " style="border-bottom:solid 1px #fff; padding: 5px; padding-top: 0; ">
            Sensores</h3>
    </div>

    <div class="card mb-3 text-white m-3" 
        style="max-width: 25%; min-height: 20%; background-color: rgba(255, 255, 255, 0.05);border-radius: 13px;box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2) ">
        <div class="row " style="border: 2px dashed rgba(255, 255, 255, 0.4); border-radius: 13px;">
            <div class="col-md-5 bg-white " style="border-radius:13px">
                <img src="https://media.istockphoto.com/id/1980276924/pt/vetorial/no-photo-thumbnail-graphic-element-no-found-or-available-image-in-the-gallery-or-album.jpg?s=612x612&w=0&k=20&c=CDnsU7vr0NqIwm0CT_nc2RnpwyM3ZC5eVXDW449pKHE="
                    alt="" class="img-fluid rounded-start"  />
            </div>
            <div class="col-md-7 " >
                <div class="card-body text-start ">
                    <h5 class="card-title">Nome: <br> DHT11 </h5>
                </div>
                <div style="width: 100%;">
                    <a href="" class="bi bi-pencil square text-white " style="text-decoration: none; padding-left: 61%;"> Editar </a>
                </div>
            </div>

        </div>
    </div>
    <div class="card mb-3 text-white m-3"
        style="max-width: 25%; min-height: 20%; background-color: rgba(255, 255, 255, 0.05);border-radius: 13px;box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2) ">
        <div class="row " style="border: 2px dashed rgba(255, 255, 255, 0.4); border-radius: 13px;">
            <div class="col-md-5 bg-white " style="border-radius:13px">
                <img src="https://media.istockphoto.com/id/1980276924/pt/vetorial/no-photo-thumbnail-graphic-element-no-found-or-available-image-in-the-gallery-or-album.jpg?s=612x612&w=0&k=20&c=CDnsU7vr0NqIwm0CT_nc2RnpwyM3ZC5eVXDW449pKHE="
                    alt="" class="img-fluid rounded-start"  />
            </div>
            <div class="col-md-7 " >
                <div class="card-body text-start ">
                    <h5 class="card-title">Nome: <br> DHT11 </h5>
                </div>
                <div style="width: 100%;">
                    <a href="" class="bi bi-pencil square text-white " style="text-decoration: none; padding-left: 61%;"> Editar </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 text-white m-3"
        style="max-width: 25%; min-height: 20%; background-color: rgba(255, 255, 255, 0.05);border-radius: 13px;box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2) ">
        <div class="row " style="border: 2px dashed rgba(255, 255, 255, 0.4); border-radius: 13px;">
            <div class="col-md-5 bg-white " style="border-radius:13px">
                <img src="https://media.istockphoto.com/id/1980276924/pt/vetorial/no-photo-thumbnail-graphic-element-no-found-or-available-image-in-the-gallery-or-album.jpg?s=612x612&w=0&k=20&c=CDnsU7vr0NqIwm0CT_nc2RnpwyM3ZC5eVXDW449pKHE="
                    alt="" class="img-fluid rounded-start"  />
            </div>
            <div class="col-md-7 " >
                <div class="card-body text-start ">
                    <h5 class="card-title">Nome: <br> DHT11 </h5>
                </div>
                <div style="width: 100%;">
                    <a href="" class="bi bi-pencil square text-white " style="text-decoration: none; padding-left: 61%;"> Editar </a>
                </div>
            </div>

        </div>
    </div>
    
</div>

{% endblock %}