{% extends 'base.html'%}
{% block conteudo %}


<div class="d-flex justify-content-between "
    style="color: white; padding:5px; border-bottom:solid 1px #fff; width: 100%;">
    <h3 class="mb-4 text-start">
        Sensores</h3>
    <a class="btn btn-login w-100 text-white d-flex justify-content-center"
        style="background: #03c356; border-radius: 15px; max-width: 20%; height: 50px; align-items: center;"
        type="submit" href="{{url_for('novo_sensor')}}">Adicionar
        Sensor</a>
</div>
<div class="container d-flex entrada-container row "
    style=" border: none; margin-right: none  !important;padding-left:0 ; width: 100%; ">
    {% if sensores %}
    {% for sensor in sensores%}
    <div class="card mb-3 text-white m-3"
        style="max-width: 25%; min-height: 20%; background-color: rgba(255, 255, 255, 0.05);border-radius: 13px;box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); max-height: 500px; ">
        <div class="row " style=" border-radius: 13px;">
            <label for="imagem_produto" class="upload-box" style="max-height:120px !important; width: 120px;"
                style=" margin-left: 0 !important; align-self: flex-start; z-index: 1000;">
                <img src="data:{{sensor.imagem_tipo}};base64,{{sensor.imagem_base64}}"
                    style="max-height:100px; width:100px; border-radius:10px; object-fit:cover;">
            </label>
            <div class="col-md-7 ">
                <div class="card-body text-start d-flex gap-2">
                    <h3 class="fs-5">Nome:</h3>
                    <h5 class="card-title fs-6 mt-1 ">{{sensor.sensor_nome}}</h5>
                </div>
                <div style="width: 100%;">
                    <a href="/sensor/editar/{{sensor.sensor_id}}" class="bi bi-pencil square text-white "
                        style="text-decoration: none; padding-left: 61%;"> Editar </a>
                </div>
            </div>

        </div>
    </div>
    {% endfor %}
    {% else %}
    <p class="text-white text-center mt-4">Nenhum sensor cadastrado</p>
    {% endif %}


</div>

{% endblock %}